script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/vendor/jquery/dist/angular/angular.js")
script(type="text/javascript", src="/vendor/jquery/dist/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/jquery/dist/angular-route/angular-route.js")
